@import "./../../style/default";
.jobList{
  padding-top: 15px;
  .check{
    color:@colorBlue;
    border: 1px solid @colorBlue;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .ant-table-pagination.ant-pagination{
    float: none;
    text-align: center;
  }
}
@media screen  and (max-width: 480px){
  .Banner{
    line-height: 60px;
    height:60px;
    .logo{
      float:none;
    }
    .headUl{
      float:none;
      li{
        float:none;
        display: block;
        border-bottom: 1px solid #e6e6e6;
        padding-left: 0;
        &:first-child{
          border-top: 1px solid #e6e6e6;
        }
      }

    }
    .bannerSearch{
      float:none;
      border-bottom: 1px solid #e6e6e6;
      span{
        font-size: 18px;
      }
    }

  }
}