@import "./../../style/default";
.navLeft{
  min-width:180px;
  li{
    height:100px;
    font-size: 18px;
    text-align: center;
    padding: 30px 10px 20px 20px;
    .iconfont{
      font-size: 30px;
      vertical-align: middle;
      margin-right: 20px;
    }
    .icon-left{
      font-size: 25px;
    }
  }
}