@import "./default";

.container{
  /*display: flex;*/
  .nav-left{
    width: 15%;
    min-width: 180px;
    min-height:calc(~ '100vh - 235px');
    color:#fff;
    background-color: @colorBlue;
  }
  .main{
    flex:1;
    background-color: @colorF;
    min-height:calc(~ '100vh - 235px');
    overflow: auto;
    .content{
      /*height:calc(80vh);*/
      position: relative;
      /*padding:20px;*/
    }
  }

}